<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div float-left="" style="color:#ffffff; font-size:24px;">Sites</div>
    <div float-end="" style="color:#ffffff; font-size:16px;">

      <img src="{{ globals.user.photo_url }}"
           style="border-radius: 20px; height:25px;">
      <span style="margin-top:-15px;">{{ globals.user.name }}</span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="m-4">
    <div class="card pb-8 cloak-fade shadow shadow-mg">
      <div class="float-right">
        <ion-icon name="refresh" (click)="reloadData()"></ion-icon>
      </div>
      <table class="site-list-table w-full">
        <thead>
        <th style="width: 40%;">Site</th>
        <th style="width: 30%;">Status</th>
        <th style="width: 30%;">Last Run</th>
        </thead>
        <tbody>
        <tr *ngFor="let site of items" (click)="openSite(site)">
          <td class="pr-2" style="width:25%;" *ngIf="site.team_id == globals.selected_team.id">{{ site.sort_url }}</td>
          <td class="pr-2" *ngIf="site.team_id == globals.selected_team.id"><span class="check-result"
                                                                                  [ngClass]="{ 'is-succeeded': site.summarized_check_result == 'succeeded', 'is-failed': site.summarized_check_result == 'failed', 'is-warned': site.summarized_check_result == 'warning'}">{{(site.summarized_check_result == 'succeeded' ? 'All good!' : (site.summarized_check_result == 'failed' ? 'Oh Dear!' : 'Please look!')) }}</span>
          </td>
          <td class="pr-2" *ngIf="site.team_id == globals.selected_team.id">{{ site.latest_run_date |
            amParse:'YYYY-MM-DD HH:mm:ss' | amLocal | amTimeAgo }}
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="openAddAnotherPage()" class="mt-4 button is-secondary">Add another Site?</button>
    </div>
  </div>
</ion-content>
